//define all scss' var used in the whole project...

// Base Colors
$color-primary: #1890FF !default;
$color-secondary: #B37FEB;
$color-success: #52C41A;
$color-warning: #FADB14;
$color-danger: #F5222D;
$color-dark: #141414;
$color-white: #FFFFFF;